@charset "utf-8";

$brand-primary: #1698ba;
$navbar-default-bg: $brand-primary;
$navbar-default-color: #eee;
$navbar-default-link-color: #fff;
$tooltip-bg: darken($brand-primary, 5%);
$tooltip-opacity: 1;

@import 'bootstrap';
@import 'font-awesome';

.jumbotron h1 {
  margin: 0;
}

footer {
  padding: 15px 0;
}

ul.nc_list {
  list-style: none;
  padding: 0;
  margin: 0;
  border: solid 1px $input-border;
  background: white;
  border-radius: $input-border-radius;
}

ul.nc_list li.nc_item {
  cursor: pointer;
  padding: 3px 12px;
}

ul.nc_list li.nc_item.nc_hover {
  background-color: $brand-primary;
  color: white;
}
