body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}
.navbar h1 a.brand{
  font-weight: bold;
  color:#999;
  text-shadow: rgba(0,0,0,0.8) 0 1px 0;
}
.hero-unit{
  text-shadow:rgba(255,255,255,0.5) 0 1px 0;
}
ul.nc_list{
  border:solid 1px #ccc;
  border-radius:3px;
}
ul.nc_list li{
  width:360px;
  padding:0 4px;
}
ul.nc_list li.nc_footer{
  color:#666;
  font-size:0.8em;
  text-align:right;
}
ul.nc_list li.nc_empty{
  color:#666;
  font-style: ital;
}
ul.nc_list li.nc_item.nc_hover{
  background-color:rgb(82, 168, 236);
}
